
<h2> Employee List</h2>
<table class="table table-hover table-fixed">
    <thead>
      <tr>
        <!-- <th scope="col">id</th> -->
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Mobile No</th>
        <!-- <th scope="col">Email</th> -->
        <!-- <th scope="col">Address</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let employee of employees" >
        <!-- <td>{{employee.id}}</td> -->
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.mobileno}}</td>
        <!-- <td>{{employee.email}}</td> -->
        <!-- <td>{{employee.address}}</td> -->
        <td>
            <button (click) ="updateEmployee(employee.id)" class="btn btn-primary btn-sm" style="margin-left:10px;">Update</button>
            <button (click) ="deleteEmployee(employee.id)" class="btn btn-danger btn-sm" style="margin-left:10px;">Delete</button>
            <button (click) ="employeeDetails(employee.id)" class="btn btn-success btn-sm" style="margin-left:10px;">View</button>
        </td>
      </tr>
    </tbody>
  </table>