<h3>View Employee Details</h3><br/>
<div>
    <div>
        <label><b>First Name : </b></label> {{employee.firstname}}
    </div><br/>
    <div>
        <label><b>Last Name : </b></label> {{employee.lastname}}
    </div><br/>
    <div>
        <label><b>Mobile Number : </b></label> {{employee.mobileno}}
    </div><br/>
    <div>
        <label><b>Email Id :</b></label> {{employee.email}}
    </div><br/>
    <div>
        <label><b>Address : </b></label> {{employee.address}}
    </div><br/>
    <td><button (click) ="goToEmployeeList()" class="btn btn-primary btn-sm">Back</button></td>
</div>
